Exe.txt
*.exe
dist/
_build_test/
build/
[Bb]in/
[Oo]bj/
.vs/
TestResults/
[Dd]ebug/
[Rr]elease/
x64/
*.suo
*.user
*.sln.docstates
*.pdb
*.log
*.ilk
*.obj
*.tmp
publish/
packages/
_ReSharper*/
*.ncrunch*
ipch/
*.sdf
*.opensdf
NohBoard/NohBoard/Version.cs
NohBoard/Hooking/Properties/AssemblyInfo.cs
NohBoard/NohBoard/Properties/AssemblyInfo.cs
/*.txt
/*.zip
/bm-nohboard.json
/NohBoard.json
/NohBoard.exe
